.aboutme {
    padding-top: 4rem ;
    margin: 0 auto;
    max-width:1024px;
    color: #fff;
}

.aboutme-title{
    font-size:40px;
    background-color: #fff;
    color: #232348;
    padding:10px 10px;
}

.intro {
    // display: flex;
    // flex-direction: column;
    // justify-content: start;
    // align-items: center;
    // height: 100vh;
    font-size: 20px;
    line-height: 0.8cm;
    padding-top: 2rem;
    padding-bottom: 9rem;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (min-width: 600px) {
    .intro {
        width: 100%;
    }
}