.homePosition {
    // display: flex;
    // flex-direction: column;
    padding-top: 5rem;
    max-width: 1024px;
    margin: auto;
}
.hero{
  height: calc(100dvh - 200px);
  padding: 3rem 1rem 0;
}
.nameHi {
    color: #fff;
    font-size: 55px;
    text-align: start;
    border-bottom: 1px solid white;
    // width: 1024px;
    padding: 20px 0 ;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.jobIntro {
    letter-spacing: 0.1em;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 15px;
    color: #ffffff;
    // float:left;
    width: 26%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


.icon-container img{
margin-right: 1rem;
  height:50px;
  width:50px;
}
.getstarted {
    text-align: center;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform:translateX(-50%);
}
@media screen and (max-width: 768px) {
    .homePosition {
      padding-top: 2rem;
    }
  
    .nameHi {
      font-size: 40px;
      padding: 10px 0;
      max-width: 710px;
    }
  
    .jobIntro {
      font-size: 12px;
      padding-top: 10px;
      padding-bottom: 20px;
      width: 100%;
    }
  
    .icon-container {
      width: 100%;
    //   text-align: center;
    }
  
    .icon {
      float: none;
      display: inline-block;
      margin: 0 10px;
    }

    .homePosition a{
        margin-left: 25%;
    }

  }
  
  @media screen and (max-width: 480px) {

    .homePosition {
        padding-top: 2rem;
        align-items: center;
      }
    .header {
      border-radius: 0;
     }
    .nameHi {
        font-size: 3.3rem;
        
    }
  
    .jobIntro {
    //   font-size: 10px;
    //   padding-top: 5px;
    //   text-align: center;
    // margin-left: 4rem;
        padding-bottom: 10px;
    }

    // .icon-container{
    //     margin-left: 2rem;
    // }
    .icon img {
      height: 40px;
      width: 40px;
    }
  }