header{
  background-color: #fff;
  padding: 2rem 1rem;
  max-width: 1024px;
  margin: 10px auto 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo a{
    text-decoration:none;
    color: #232348;
    // font-size: 5rem;
}

@media (max-width: 780px) {
header{
  border-radius: 0;
}

h1.logo {
  font-size: 3.6rem;
}


}