.header{
    background-color:#fff;
    padding: 3rem 1rem;
    max-width: 1024px;
    margin: 10px auto 0;
    border-radius:5px ;
}

.header-logo{
    width:40%;
    float:left;
    margin-top: -1.5rem;
}

.header-logo a{
    text-decoration:none;
    color: #232348;
    font-size: 80px;
}

@media (max-width: 767px) {
    .header {
      padding: 1rem 0;
    }
  
    .header-logo {
      width: 100%;
      margin-top: 0;
      text-align: center;
    }
  }