
.header{
    background-color:#fff;
    padding: 2rem 1rem;
    max-width: 1024px;
    margin: 10px auto 0;
    border-radius:5px ;
}

.header-logo{
    width:40%;
    display:inline-block;
}

.header-logo a{
    text-decoration:none;
    color: #232348;
    font-size: 80px;
}

@media (max-width: 480px) {
    .header {
      padding: 1rem 0;
    }
  
    .header-logo, .header-navbar {
      width: 100%;
      margin-top: 0;
      text-align: center;
    }

  }