html {
  scroll-behavior: smooth;
}
.navbar {
    width: 60%;
    display: flex;
    justify-content: center;
    margin-left: 52%;
}

.button{
    border:none;
    background-color: #ffffff;
    margin-right: 4px;
}

.linkbutton {
    text-decoration: none;
    font-size: 20px;
    color: #232348;
    transition: background-color 0.2s ease-in-out;
    padding: 0.5em 0.5em;
    border-radius:5px;
} 
.linkbutton:hover {
    background-color: #232348;
    color: #fff;
  }

.linkbutton.active,
.linkbutton:hover {
  color: #fff;
  background-color: #232348;
}
